<div class="wrapper">
  <!-- Preloader
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="assets/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
    <p>Gizy</p>
  </div> -->

  <!-- Navbar -->
  <app-navbar></app-navbar> 

  <!-- Main Sidebar Container -->
  <app-sidebar></app-sidebar>

  <!-- Content Wrapper. Contains page content -->
  <app-dashboard></app-dashboard>
  <app-footer></app-footer>
</div>
<!-- ./wrapper -->
<router-outlet></router-outlet>